:root {
    --primary-text-color: #1C2436;
    --secondary-text-color: #454C5F;
    --white-text-color: #FFFFFF;
    --footer-list-text-color: #EBFA9E;
    --copyright-text-color: #F0FAF8;
    --copyright-text-color-accent: #BFE03E;
    --body-background-color: #F5F5F5;
    --footer-background-color: #2A514C;
    --main-border-color: #E8E7EE;
    --footer-border-color:rgba(240, 250, 248, 0.1);
    --icone-black-color: #000000;
    --button-color: #F6F6F9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
background-color: var(--body-background-color);
color: var(--primary-text-color);
font-family: 'Be+Vietnam+Pro', 'Outfit', sans-serif;
font-weight: 400;
}

.container {
padding: 0 72px;
width: 1440px;
margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}

.first-header-text {
    font-family: 'Be Vietnam Pro';
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.28px;   
    color: var(--white-text-color);

    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    justify-content: center;

    background-image: url(../img/header-background.jpg);
}
.second-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    border-bottom: 1px solid var(--button-color);
}
.nav-list {
    display: flex;
    padding: 0;  
    margin-left: 165px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.nav-list-item {
    font-family: 'Be Vietnam Pro';
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.28px;
    color: var(--primary-text-color);
}
.nav-list-item:not(:last-child) {
    margin-right: 40px;
}
.header-button {
    padding: 9px 25px;
    margin: 24px 80px 24px 0px;

    font-family: 'Be Vietnam Pro';
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.14px;

    border: 1px solid var(--main-border-color);
    background-color: var(--body-background-color);

    cursor: pointer;
}
.first-section-main-title {
    text-transform: uppercase;
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.64px;

    margin-top: 79px;
    margin-bottom: 0px;
}
.first-section-title {
    font-family: 'Outfit';
    font-size: 67px;
    line-height: 1.28; 
    letter-spacing: 1.44px;
    text-align: center;
    max-width: 700px;
   
    margin: 13px auto 0px auto;
}
.first-section-text {
    font-family: 'Be Vietnam Pro';
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0.36px;
    text-align: center;
    max-width: 766px;

    margin: 30px auto 0px auto;  
}
.first-section-image {
    display: block;
    margin: 36px auto 0px auto;
}
.collection-description {
    display: flex;
    align-items: baseline;
    margin-top: 158px;
    padding-bottom: 49px;
    border-bottom: 1px solid var(--main-border-color);
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
.collection-title {
    font-family: 'Outfit';
    font-size: 44px;
    line-height: 1.32;
    letter-spacing: 0.96px;
    max-width: 432px;

    margin: 0;
}
.collection-text {
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.36px;
    max-width: 431px;

    margin: 0 0 0 176px;
}
.collection-list {
    display: flex;
    margin: 32px 118px 0 118px;
    padding: 0;
    justify-content: space-between;
}
.collection-list-item {
    border: 1px solid var(--main-border-color);
    width: 327px;
    height: 298px;
}
.collection-list-title {
    font-family: 'Outfit';
    font-size: 23px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.48px; 
    margin: 0;
    margin-top: 32px;
}
.collection-list-text {
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.32px;
    color: var(--secondary-text-color);

    max-width: 235px;
    margin: 10px auto 0 auto;  
}
.collection-icon-group {
    width: 72px;
    height: 72px;

    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px; 
    justify-content: center; 
    align-items: center; 
}
.collection-icon-group.cube {
    background-color: #CFF2ED;
}
.collection-icon-group.window {
    background-color: #E6CFF2;  
}
.collection-icon-group.pencil {
    background-color: #EBFA9E;
}
.collection-icon { 
    width: 25px;
    height: 25px; 
}
.collection-button {
    margin: 32px auto 0  auto;
    width: 1060px;
    height: 56px;
    background-color: var(--button-color);
    border-color: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;  
}
.collection-button-text {
    font-family: 'Be Vietnam Pro';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.32px;

    margin-left: 470px;
}
.collection-button-vector {
    width: 10px;
    height: 10px;
    margin-left: 473px;
}
.template-list {
     margin-top: 160px;
     padding: 0;
}
.template-title-first {
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
   
    margin-bottom: 0;
    margin-top: 0;
}
.template-title-second {
    font-family: 'Outfit';
    font-size: 44px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.96px;

    margin-top: 6px;
    margin-bottom: 0;
}
.template-image-list {
    margin: 116px 55px 136px 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.template-image-list > .template-image-item:nth-child(3) {
    margin: 191px auto 0 auto;
}
.item > .template-image-list:nth-child(3) {
    margin-bottom: 352px;
}
.footer-container {
    margin: 0 auto 80px auto;
    background-color: var(--footer-background-color);

    width: 1120px;
}
.footer-first-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px 55px 80px;
    border-bottom: 1px solid var(--footer-border-color);
}
.footer-title {
    font-family: 'Be Vietnam Pro';
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.28px;
    color: var(--white-text-color);

    margin: 0;
}
.footer-icon-list {
    display: flex;
    padding: 0;
    margin: 0;
}
.footer-icon-list > .footer-icon-item:not(:last-child) {
    margin-right: 16px;
}
.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--footer-list-text-color);
}
.footer-icon-svg {
    width: 15px;
    height: 15px;   
}
.library-group {
    display: flex;
    justify-content: space-between;
    padding: 41px 80px;

    border-bottom: 1px solid var(--footer-border-color);
}
.library-list {
    padding: 0;
    margin: 0;
}
.library-list-title {
    font-family: 'Be Vietnam Pro';
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    color: var(--footer-list-text-color);

    padding: 0 0 48px 0;
}
.library-item {
    font-family: 'Be Vietnam Pro';
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.28px;
}
.library-item:not(:last-child) {
    margin-bottom: 24px;
}
.library-item > .link {
    color: var(--white-text-color);
}
.copyright-text {
    font-family: 'Be Vietnam Pro';
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.28px;
    color: var(--copyright-text-color);

    padding: 31px 0 10px 80px;
    margin: 0; 
}
.copyright-text-accent {
    color: var(--copyright-text-color-accent);
    cursor: pointer;
}